.menu{
    align-items: center;
    display: flex;
}

.item-menu{
    background-color: #ffffff12;
    border-radius: 2rem;
    margin: 0 3px;
}
.fundo-card{
    
    background-color: #3f51b5;
    /* background-color: #e8e8e8;*/
    margin-left: 0px !important;
}