.menu{
    align-items: center;
    display: flex;
    border: 1px solid #000000;
}


.item-menu{
    border-bottom: 3px solid #000000;
    margin: 0 3px;
}
.menu-item:hover{
    border-bottom: 3px solid #fff;
}
.fundo-card{
    margin-left: 0px !important;
}
.menu-item{
    align-items: center;
    display: flex;
}

.divider {
    width: 2px;
    margin: 16px 0;
    background: #000000;
}