<!-- Footer -->
<footer class="page-footer font-small pt-4">
  <div class="container">
    <div class="row d-flex justify-content-center">
      <div class="col-md-6 mb-3" style="justify-content: center;display: flex;">
        Desenvolvido por:
            Fulana de tal - Github xxx
            Fulano de tal - Github yyy
      </div>
    </div>
  </div>
  <div class="footer-copyright text-center py-3">© Todos os direito reservados á UNISO.
        Site para uso exclusivo acadêmico.
  </div>
</footer>
<!-- Footer -->