{% extends "base.twig" %}

{% block content %}
    <div class="row w-100">
        <div class="col">
            <div class="d-flex" style="justify-content:center;">
                <img src="{{ theme.uri }}/assets/imagem/simposio3.png" style="height:300px;">
            </div>
        </div>
    </div>
    <div class="container">
      <div class="row" style="background-color: #ffd300;">
        <div class="col m-2">
          <h5 class="h5 d-flex justify-content-center"><strong>A importância de compartilhar</strong></h5>
          <div class="text-center">Durante o evento, alunos trocam experiências e compartilham conhecimentos.</div>
        </div>
        <div class="divider"></div>
        <div class="col m-2">
          <h5 class="h5 d-flex justify-content-center"><strong>Incentivar, motivar.</strong></h5>
          <div class="text-center">Fomentando o interesse por Pesquisa e Desenvolvimento nos alunos de Tecnologia de Informação.</div>
        </div>
        <div class="divider"></div>
        <div class="col m-2">
          <h5 class="h5 d-flex justify-content-center"><strong>Um evento de alunos, para alunos!</strong></h5>
          <div class="text-center">Contamos com a presença de mais de 110 pessoas na última edição.</div>
        </div>
      </div>
      <div class="d-flex justify-content-center m-2">
        <a href="https://www.sympla.com.br/3-simposio-de-tecnologias-aplicadas-uniso-unisointegrati__707975"><button type="button" class="btn btn-info"><strong>Inscrever-se</strong></button></a>
      </div>
      <div class="row">
        {% for item in programacao %}
        <div class="col m-2" style="background-color: #efefefbd;border-radius: 2rem;">
          <h1 class="h1">{{ item.title }}</h1>
          <p>
            {{ item.content }}
          </p>
        </div>
        {% endfor %}
      </div>
      <div class="m-3">
        <h1 class="h1 text-center">Patrocinadores</h1>
        <div class="d-flex justify-content-center">{{ widgets.sidebar }}</div>
      </div>
    </div>


{% endblock %}